@import 'src/styles/vars';

@media screen and (min-width: 640px) {

.icone {
  height: 35px;
  width: 60px;
  align-self: center;
  margin-top: 1em;
}

#about-us {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 30em;
  height: 12em;
  margin: auto;
  color: white;
  text-align: center;
}

.about-title {
  margin-top: 1em;
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 1em;
  text-transform: uppercase;
}

.about-content {
  font-size: .9em;
}
}

// about us mobile Version //

@media screen and (max-width: 640px) {

  .icone {
    height: 35px;
    width: 60px;
    align-self: center;
    margin-top: 1em;
  }

  #about-us {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 80%;
    height: 14em;
    margin: auto;
    color: white;
    text-align: center;
  }
  
  .about-title {
    margin-top: 1em;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 1em;
    text-transform: uppercase;
  }
  
  .about-content {
    font-size: .9em;
  }
  
  }
